*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	scale: 170%;
	top: 50%;
	left: 50%;
	transform: translate(35%, 27%);
}
table {
	border: 1px solid grey;
}
td {
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 2.5rem;

}

tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
	background-color: lightgrey;
}